ThirdTeamProject/.metadata/
ThirdTeamProject/Servers/
Teamwork3_WebPages/img
ThirdTeamProject/GameShop/WebContent/img/
ThirdTeamProject/GameShop/target/
/.metadata/
script.sql 
ThirdTeamProject/GameShop/.classpath
ThirdTeamProject/GameShop/.settings/org.eclipse.wst.common.project.facet.core.xml