.bms > .main {
    /* width: 72%; */
    margin: 0 auto;
    float: left;
}

.bms > .header {
    height: 100px;
    background-color: aquamarine;
    text-align: center;
    padding-top: 30px;
/*     position: fixed; */
}

.bms > .nav > ul {
    width: 100%;
    height: 80px;
    margin: 0;
    list-style-type: none;
    overflow: auto;
    padding: 0;
}

.bms > .nav > ul > li {
    background-color: beige;
    width: 33.33%;
    height: 100%;
    float: left;
    border-radius: 5px;
    margin: 0;
}

.bms > .nav a {
    height: 100%;
    line-height: 80px;
    display: block;
    text-align: center;
}

.bms > .nav a:link {
    text-decoration:none;
}
.bms > .nav a:hover {
    background-color:	#0080FF	;
    color:	#ffffff;
    border-radius:5px;
}

.bms #asideLeft {
    width: 180px;
    float: left;/* position: fixed; */
    top: 0;
    left: 0;
    height: 100vh;
    /* z-index: 999; */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

.bms .expired, .notyet {
    background-color: rgb(213, 115, 169, 0.4);
}

.bms .expired > .pStatus,
.bms .notyet > .pStatus{
    color: red;
}

.bms .valid > .pStatus {
    color: green;
}

.logout {
	position: fixed;
    z-index: 99;
    right: 2em;
    top: 3em;
    width: 5em;
    height: 3em;
    padding:0;
    border:0;
    box-shadow:0 0 0 2px #dfdfdf;
    border-radius:4px;
}

.logout>a{
	width: 100%;
	height: 100%;
	line-height: 5em;
	margin: 0;
	display:inline-block;
	background-color: #0080c0;
}

.logout>a:link{
	text-decoration:none;
}

.logout>a:hover{
	background-color: #0080FF;
    color:	#ffffff;
    border-radius:5px;
}

.hideClass {
    display: none;
}

input[type=text] {
    border: none;
    border-bottom: 4px solid #8842d5;  
}

/* ----------------- Test product page css ---------------------   */

ul.pagination{
    cursor:default;
    margin:0;
    text-align:center
}
ul.pagination li{
    display:inline-block;
    margin:0 0.325em
}
ul.pagination .button{
    width:10em;
    padding:0
}
ul.pagination .page.current a{
    color:#ff6098;
    border-color:#ff6098
}
ul.pagination .page a{
    -moz-transition:color .2s ease-in-out,border-color .2s ease-in-out,background .2s ease-in-out;
    -webkit-transition:color .2s ease-in-out,border-color .2s ease-in-out,background .2s ease-in-out;
    -ms-transition:color .2s ease-in-out,border-color .2s ease-in-out,background .2s ease-in-out;
    transition:color .2s ease-in-out,border-color .2s ease-in-out,background .2s ease-in-out;
    display:inline-block;
    text-transform:uppercase;
    font-size:0.9em;
    font-weight:700;
    letter-spacing:.125em;
    line-height:3em;
    width:3em;
    text-align:center;
    border-radius:4px;
    color:#444;
    background:#fff;
    border:solid 2px rgb(160, 150, 150)
}
ul.pagination .page a:hover{
    color:#5FCEC0;
    border-color:#5FCEC0
}

.button {
    -moz-transition:color .2s ease-in-out,box-shadow .2s ease-in-out,background .2s ease-in-out,opacity .2s ease-in-out;
    -webkit-transition:color .2s ease-in-out,box-shadow .2s ease-in-out,background .2s ease-in-out,opacity .2s ease-in-out;
    -ms-transition:color .2s ease-in-out,box-shadow .2s ease-in-out,background .2s ease-in-out,opacity .2s ease-in-out;
    transition:color .2s ease-in-out,box-shadow .2s ease-in-out,background .2s ease-in-out,opacity .2s ease-in-out;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    appearance:none;
    display:inline-block;
    text-transform:uppercase;
    font-size:0.75em !important;
    font-weight:700;
    letter-spacing:.125em;
    line-height:3.75em;
    height:3.75em;
    padding:0 2.25em;
    border:0;
    box-shadow:0 0 0 2px #dfdfdf;
    border-radius:4px;
    color:#444;
    text-align:center;
    background:none;
    cursor:pointer
}

.button:hover {
    color:#5FCEC0;
    box-shadow:0 0 0 2px #5FCEC0
}

.button.special {
	background:#5FCEC0;
	color:#fff;
	box-shadow:0 0 0 2px #5FCEC0
}
.button.special:hover {
	background:#3bbfaf;
	box-shadow:0 0 0 2px #3bbfaf
}

/* ----------------------------   以下為活動的CSS ------------------------ ------ */

#tabs-nav {
	margin: 0;
	padding: 0;
	position: relative;
	text-align: left
}

a.tabs-menu {
	display: inline-block;
	background-color: #1b91ab;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 5px 10px;
	text-shadow: 1px 1px 0px #1b91ab;
	font-weight: bold;
	text-decoration: none;
	border: solid 1px #1b91ab;
	border-bottom: 0;
	border-radius: 3px 3px 0 0;
}

a.tabs-menu.tabs-menu-active {
	background-color: #fff;
	text-shadow: 1px 1px 0px #ffffff;
	border: solid 1px #1b91ab;
	color: #6b6b6b;
	border-bottom: 0;
}

.tabs-container {
	border: solid 1px #1b91ab;
	margin-top: -1px;
	background-color: #fff;
	overflow: hidden;
}

.tabs-panel {
	display: none;
	min-height: 400px;
	overflow: auto;
	padding: 10px;
	max-height: 600px;
}
#jquery-tabs img{
	width:200px;
	height:100px;

}
.ck-editor__editable{
  height: 200px;
  width: 700px;
}

